body {
  margin: 0;
  font-family: Arial;
  background: #eef2f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #2B2D42;
  padding: 14px;
  color: white;
}

.navArea a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.hero {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: white;
  color: #222;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}

.section {
  flex: 1;
  padding: 40px 20px;
  text-align: center;
}

/* CARDS FIXED GRID */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 22px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

footer {
  background: #2B2D42;
  color: white;
  text-align: center;
  padding: 14px;
}


/* CONTACT FORM FIXED */
.formWrapper {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: left;
}

form label {
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

form input, 
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

form textarea {
  height: 120px;
  resize: none;
}

.btnSubmit {
  margin-top: 18px;
  padding: 10px 22px;
  border: none;
  background: #6a11cb;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
}

.btnSubmit:hover {
  background: #4f0fa0;
}
